<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Người dùng</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
              </th>
              <th>Người dùng</th>
              <th class="text-center">Giới tính</th>
              <th>Email</th>
              <th class="text-center">Số điện thoại</th>
              <th>Phương tiện</th>
              <th class="text-center">Trạng thái</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td class="text-center">
                <c-avatar size="md" src="{{ user.photoUrl }}"></c-avatar>
              </td>
              <td>
                <div>{{ user.fullName}}</div>
              </td>
              <td class="text-center">
                {{gender(user.gender!)}}
              </td>
              <td>
                <div class="clearfix">
                  {{ user.email }}
                </div>
              </td>
              <td>
                <div class="text-center">
                  {{ user.phone }}
                </div>
              </td>
              <td>
                {{ user.vehicles }}
              </td>
              <td class="text-center">
                {{status(user.status.toString())}}
              </td>
              <td class="text-center">
                <input id="active-user" type="checkbox" [checked]="isActive(user.status)"
                  (change)="updateStatus(user.id!, $event)" class="btn-action">
                <button [cModalToggle]="userInfoModal.id"
                  class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input green-background-white-text btn-action">Sửa</button>
              </td>

            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #userInfoModal alignment="center" id="user-info-modal" [visible]="false">
  <c-modal-header>
    <h5 cModalTitle>Thông tin chuyến đi</h5>
    <button [cModalToggle]="userInfoModal.id" id="btn-close-modal"
      class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input fit-width" cButton>
      Đóng
    </button>
  </c-modal-header>
  <c-modal-body>