:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

button {
  min-width: fit-content;
  margin-right: 10px;
  padding: 0 10px;
}

.green-background-white-text {
  background-color: #00a845;
  color: white;
}

.white-background-black-text{
  background-color: white;
  color: rgba(44, 56, 74, 0.681) !important;
}

.gray-background-white-text {
  background-color: #917700;
  color: white;
}

.red-background-white-text {
  background-color: #ce5c18;
  color: white;
}

input#active-user {
  margin-right: 10px;
}