<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Chuyến</c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
              </th>
              <th class="text-center">Phương tiện</th>
              <th>Xuất phát</th>
              <th>Kết thúc</th>
              <th>Khoảng cách</th>
              <th class="text-center">Trạng thái</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ride of rideResponseDto; let i = index">
              <td class="text-center">
                <c-avatar size="md" src="{{ ride.user.photoUrl }}"></c-avatar>
              </td>
              <td class="text-center">
                {{ vehicle(ride.vehicle.type)}}
              </td>
              <td class="text-center">
                {{'start'}}
              </td>
              <td>
                <div class="text-center">
                  {{ 'end' }}
                </div>
              </td>
              <td>
                <div>
                  {{ ride.distance + ' km' }}
                </div>
              </td>
              <td class="text-center">
                {{status(ride.status.toString())}}
              </td>
              <td class="text-center">
                <input id="ride-status" type="checkbox" [checked]="isActive(ride.status)"
                  (change)="updateStatus(ride._id, $event)" class="btn-action">
                <button
                  class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input green-background-white-text btn-action">Sửa</button>
              </td>

            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>