.green-background-white-text {
    background-color: #00a845;
    color: white;
}

.white-background-black-text{
    background-color: white;
    color: rgba(44, 56, 74, 0.681) !important;
}

a {
    text-decoration: none;
}