<ng-container *ngIf="!loadAllDone">
  <div
    class="fade show d-flex flex-column align-items-center"
    style="text-align: center; padding-top: calc(100vh / 2); height: 100vh"
  >
    <img
      src="assets/favicon.png"
      alt="Ride Share Logo"
      style="width: 100px; height: 100px"
    />
    <div class="mt-3">
      <i class="spinner-grow spinner-grow-sm"></i>
      <span class="m-1"><b>Loading...</b></span>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="loadAllDone">
  <!--app-header-->
  <app-default-header
    class="mb-4 d-print-none header header-sticky"
    position="sticky"
    sidebarId="sidebar"
    [photoURL]="user?.photoURL!"
  >
  </app-default-header>

  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
</ng-container>
