<ng-container>
  <c-container [fluid]="true">
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/map"> Trang chủ </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/admin/ride"> Quản trị hành trình </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/admin/user"> Quản trị người dùng </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink routerLink="/admin/activity"> Hoạt động </a>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <c-avatar shape="rounded-3" size="md" [src]="photoURL"> </c-avatar>
    </c-header-nav>
  </c-container>
</ng-container>
