<div id="main-container">
    <div id="map"></div>
    <div id="table-container" class="w-100">
        <table id="table_id" class="display stripe hover order-column">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Phương tiện</th>
                    <th>Bắt đầu</th>
                    <th>Kết thúc</th>
                    <th>Khoảng cách</th>
                    <th>Tiêu chí</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- share form -->
<form id="form-ride-share" [formGroup]="formShareRide">
    <div>
        <input formControlName="uid" class="d-none">
        <input formControlName="distance" _ngcontent-ajb-c205="" id="distance-measure-share" type="tet" readonly="true"
            class="distance-container mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
            placeholder="0.0km">

        <input formControlName="startTime" class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
            type="datetime-local" id="time-start-share">
        <input formControlName="endTime" class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
            type="datetime-local" id="time-end">
        <select formControlName="vehicle" class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl">
            <option *ngFor="let v of this.user?.vehicles; let i = index" [value]="v.name">{{v.name}}
            </option>
        </select>
        <input formControlName="criterions" class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
            type="text" id="criterions" placeholder="Tiêu chí">
        <div id="text-share-wrapper" class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl">
            <textarea formControlName="note" id="note" cols="27" rows="5" placeholder="Ghi chú"></textarea>
        </div>
    </div>
    <button id="btn-form-submit" type="button" [cModalToggle]="shareConfirmModal.id"
        class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl green-background-white-text">Xác
        nhận</button>
</form>
<!-- end share form-->

<!-- modal confirm -->
<c-modal #shareConfirmModal alignment="center" id="shareConfirmModal" [visible]="false">
    <c-modal-header>
        <h5 cModalTitle>Chia sẻ chuyến đi này?<b>
            </b></h5>
    </c-modal-header>
    <!-- div thong tin chuyen di -->
    <c-modal-footer>
        <div class="modal-footer">
            <button
                class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input gray-background-white-text"
                cButton type="button" [cModalToggle]="shareConfirmModal.id">Hủy</button>
            <button
                class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input green-background-white-text"
                cButton type="button" [cModalToggle]="notifyAddRideModal.id" (click)="onSubmitFormShare()">Chia
                sẻ
            </button>
        </div>
    </c-modal-footer>
</c-modal>
<!-- end modal confirm -->

<!-- notify -->
<c-modal #notifyAddRideModal alignment="center" id="notifyAddRideModal" [visible]="false">
    <c-modal-header>
        <h5 cModalTitle><b>Thành công</b></h5>
    </c-modal-header>
    <c-modal-body>
        <p>Chuyến đi của bạn đã được lưu lại và chờ duyệt</p>
    </c-modal-body>
</c-modal>
<!-- end notify -->

<!-- toggle share form -->
<button id="btn-toggle-share" class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
    (click)="toggleFormShare()">Chia sẻ chuyến
    đi</button>
<!-- end toggle share form -->

<!-- show my ride -->
<button [cModalToggle]="showMyRidesModal.id" id="btn-toggle-show-my-rides"
    class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl">
    Chuyến của tôi
</button>

<c-modal #showMyRidesModal alignment="center" id="showMyRidesModal" [visible]="false" scrollable>
    <c-modal-header>
        <h5 cModalTitle>Danh sách chuyến đi</h5>
        <button [cModalToggle]="showMyRidesModal.id"
            class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input " cButton>
            Đóng</button>
    </c-modal-header>
    <c-modal-body>
        <ng-container *ngFor="let ride of rideUser; let i = index">
            <div class="ride-user mapboxgl-ctrl-geocoder mapboxgl-ctrl">
                <p>Bắt đầu: <b>{{ride.startTime}}</b></p>
                <p>Kết thúc: <b>{{ride.endTime}}</b></p>
                <p>Khoảng cách: <b>{{ride.distance}}km</b></p>
                <p>Phương tiện: <b>{{ride.vehicle.name}}</b></p>
            </div>
        </ng-container>
    </c-modal-body>
</c-modal>
<!-- end show my ride -->

<div class="mapboxgl-ctrl-top-center">
    <button id="btn-toggle-profile" [cModalToggle]="userInfoModal.id" cButton class="py-0 nav-link btn"
        ng-reflect-caret="false">
        <c-avatar ctextcolor="primary" shape="rounded-1" size="md" src="{{this.user?.photoUrl}}"
            class="avatar avatar-md rounded-1 text-primary">
        </c-avatar>
    </button>
    <button (click)="navigateToAdminPage()" id="btn-admin-page"
        class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input red-background-white-text">
        Trang quản trị
    </button>
</div>

<c-modal #rideInfoModal alignment="center" id="rideInfoModal" [visible]="rideInfoModalVisible">
    <c-modal-header>
        <h5 cModalTitle>Thông tin chuyến đi</h5>
        <button [cModalToggle]="rideInfoModal.id" id="btn-close-modal"
            class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input" cButton>
            Đóng
        </button>
    </c-modal-header>
    <c-modal-body>
        <h1>{{vehicle(chosenRide?.vehicle?.type!)}}</h1>
        <p>Khoảng cách: <b>{{chosenRide?.distance}} km</b></p>
        <p>Bắt đầu: <b>{{chosenRide?.startTime}}</b> - Kết thúc: <b>{{chosenRide?.endTime}}</b></p>
        <p>Phương tiện:
            <b>{{vehicle(chosenRide?.vehicle?.type!)}}</b> -
            <b>{{chosenRide?.vehicle?.name}}</b> -
            <b>{{chosenRide?.vehicle?.licensePlateNumber}}</b>
        </p>
        <p>Yêu cầu: <b>{{chosenRide?.criterions}}</b></p>
        <hr>
        <p>Chủ xe: <b>{{chosenRide?.user?.fullName}}</b></p>
        <p>Số điện thoại: <b>{{chosenRide?.user?.phone}}</b> </p>
        <p>Giới tính: <b>{{gender(chosenRide?.user?.gender!)}}</b> </p>
        <hr>
        <p>Ghi chú: </p>
        <span>{{chosenRide?.note}}</span>
    </c-modal-body>
    <c-modal-footer>
        <div class="modal-footer">
            <button
                class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input green-background-white-text"
                cButton [cModalToggle]="rideInfoModal.id">Liên hệ chủ xe</button>
        </div>
    </c-modal-footer>

</c-modal>


<c-modal #userInfoModal alignment="center" id="userInfoModal" [visible]="false">
    <c-modal-header>
        <h5 cModalTitle>Thông tin người dùng</h5>
        <button [cModalToggle]="userInfoModal.id" id="btn-close-modal"
            class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input" cButton>
            Đóng
        </button>
    </c-modal-header>
    <form id="form-user-info" [formGroup]="formUserInfo">
        <c-modal-body>
            <div id="user-info">
                <c-avatar id="user-avatar" shape="rounded-1" size="xl" src="{{this.user?.photoUrl}}"
                    class="avatar avatar-md rounded-1 text-primary">
                </c-avatar>

                <input formControlName="uid" type="hidden">

                <input formControlName="fullName" id="full-name" type="text"
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input" placeholder="Tên đầy đủ"
                    required>

                <input formControlName="dob" id="dob" type="date"
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input" placeholder="Ngày sinh"
                    required>

                <select formControlName="gender" id="gender"
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input">
                    <option value="both" selected>Giới tính</option>
                    <option value="female">Nữ</option>
                    <option value="male">Nam</option>
                </select>

                <input formControlName="phone" id="phone" type="text"
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input"
                    placeholder="Số điện thoại" required>

                <input formControlName="email" id="email" type="text"
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input" placeholder="Email"
                    readonly>

                <div formArrayName="vehicles" id="vehicles">
                    <div *ngFor="let v of vehicles.controls; let i = index">
                        <div class="vehicle-info" [formGroupName]="i">
                            <select [id]="'type-'+i" formControlName="type"
                                class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl">
                                <option value="motobike" selected>Xe máy</option>
                                <option value="car">Ô tô</option>
                            </select>
                            <input [id]="'name-' + i" type="text"
                                class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
                                formControlName="name" placeholder="Tên phương tiện">
                            <input [id]="'lpn-i'" type="text"
                                class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
                                formControlName="licensePlateNumber" placeholder="Biển số">
                            <button class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
                                (click)="removeVehicle(i)">-</button>
                        </div>
                    </div>
                </div>
                <button class="mapboxgl-ctrl-geocoder--input mapboxgl-ctrl-geocoder mapboxgl-ctrl"
                    (click)="addVehicle()">+</button>
            </div>
        </c-modal-body>
        <c-modal-footer>
            <div class="modal-footer">
                <button
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input green-background-white-text"
                    cButton [cModalToggle]="userInfoModal.id" (click)="onSubmitFormUserInfo()">Cập
                    nhật thông tin</button>
                <button
                    class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input gray-background-white-text"
                    cButton type="button" [cModalToggle]="userInfoModal.id">Đăng xuất
                </button>
            </div>
        </c-modal-footer>
    </form>
</c-modal>

<div id="toggle-table-container">
    <button id="btn-toggle-table" title="Ctrl + X"
        class="mapboxgl-ctrl-geocoder mapboxgl-ctrl mapboxgl-ctrl-geocoder--input green-background-white-text fit-width"
        type="button" (click)="toggleDataTable()">Danh sách chuyến</button>
</div>