#main-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100vh;
}

#map {
  min-height: 61%;
}

.fit-width {
  min-width: fit-content;
  width: auto;
}

#table-container {
  height: 39%;
}
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#geocoder-container > div {
  min-width: 50%;
  margin-left: 25%;
}

.mapboxgl-ctrl-bottom-center {
  bottom: 0;
  position: absolute;
  margin: 10px 50%;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
}

.mapboxgl-ctrl {
  background-color: white;
}

div#popup-click {
  background-color: white;
  margin: 10px;
  bottom: 0;
  display: none;
  min-width: 100px;
}

#line-string {
  display: none;
}

.mapboxgl-ctrl-top-right {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  margin: 0;
  padding: 5px;
  border-top: none;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
}

.modal-footer > button {
  min-width: fit-content;
  margin: 5px;
}

.green-background-white-text {
  background-color: #00a845;
  color: white;
}

.white-background-black-text {
  background-color: white;
  color: rgba(44, 56, 74, 0.681) !important;
}

.gray-background-white-text {
  background-color: #917700;
  color: white;
}

.red-background-white-text {
  background-color: #ce5c18;
  color: white;
}

button#btn-toggle-profile {
  margin: 10px;
  z-index: 1;
  // position: fixed;
}

.mapboxgl-ctrl-top-center {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -20px;
}

.mapboxgl-ctrl-mid-right {
  right: 0;
  top: 8%;
  position: absolute;
  margin-right: 10px;
  min-width: 150px;
}

.ride-response {
  margin-top: 10px;
  margin-bottom: 0;
  background-color: white;
}

.ride-response > p {
  margin-bottom: 0;
}

.ride-response > button {
  max-width: fit-content;
}

button#btn-admin-page {
  margin: 10px 0 0 0;
}

textarea#note {
  border: none;
}

div.ride-response {
  min-width: fit-content;
  padding: 5px 10px;
  height: fit-content;
}

#table-wrapper {
  bottom: 0;
}

button#btn-toggle-table {
  margin-bottom: 10px;
  margin-top: auto;
}

div#toggle-table-container {
  display: flex;
}

.list-item {
  padding: 10px;
  margin: 0 0 15px 0;
  min-width: 100%;
}

.list-item > p {
  margin-bottom: 15px;
  margin-top: 5px;
}

div#input-user-info {
  margin-top: 2vh;
}

.input-fix {
  min-width: 240px;
}

.input-fix-file {
  width: 230px;
}

.bg-green {
  background-color: #00a845;
}

.bg-red {
  background-color: #df001b;
}

.color-white {
  color: #fff;
}

.w-mapbox {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
}

.h-mapbox {
  height: 36px;
  min-height: 36px;
  max-height: 36px;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  height: 36px;
}

div#online-users {
  min-width: 85px;
  max-width: 85px;
}
