.hl {
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 5px;
  margin-left: 5px;
}

.text-center {
  text-align: center;
}
.hl-red {
  background-color: #de0e23;
  color: #eef8f3;
}

.hl-green {
  background-color: #058d2e;
  color: #eef8f3;
}

.hl-yellow {
  background-color: #f1d948;
  color: #323023;
}

.hl-deepblue {
  background-color: #415cd3;
  color: #ffffff;
}

.hl-lightgrey {
  background-color: #e9e9e4;
  color: #4d4d4c;
}

.bg-green {
  background-color: #00a845;
}

.bg-red {
  background-color: #df001b;
}

.color-white {
  color: #fff;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, Helvetica, sans-serif;
}

table#table_id {
  font-size: 15px;
}

.w-fit {
  width: fit-content;
  min-width: fit-content;
}

.btn {
  margin-right: 5px;
  margin-left: 5px;
}

textarea {
  outline: none !important;
}
#form-ride-share > div:nth-child(2) > div {
  height: 70px;
}

.bg-grey {
  background-color: #9da2ad;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #343433;
}

input:focus + .slider {
  box-shadow: 0 0 1px #343433;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
